name: Build Check

on:
  pull_request:
    branches: [ "development","main" ]

jobs:
  tests:
    name: Build Check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6